<tr class='row' data-bind="click: $parent.selectShippingMethod, style: {cursor: 'pointer'}">
	<td class='col col-method'>
		<!-- ko ifnot: method.error_message -->
			<!-- ko if: $parent.rates().length == 1 -->
				<input
					class='radio'
					data-bind="attr: {
						'aria-labelledby': [
							['label_method', method.method_code, method.carrier_code].join('_')
							,['label_carrier', method.method_code, method.carrier_code].join('_')
						].join(' ')
						,checked: 1 === $parent.rates().length
						,id: ['s_method', method.method_code].join('_')
						,value : [method.carrier_code, method.method_code].join('_')
					}"
					type='radio'
				/>
				<label/>
			<!-- /ko -->
			<!--ko ifnot: ($parent.rates().length == 1)-->
				<input
					class='radio'
					data-bind="
						attr: {
							'aria-labelledby': [
								['label_method', method.method_code, method.carrier_code].join('_')
								,['label_carrier', method.method_code, method.carrier_code].join('_')
							].join(' ')
							,id: ['s_method', method.carrier_code, method.method_code].join('_')
						}
						,checked: $parent.isSelected
						value: [method.carrier_code, method.method_code].join('_')
					"
					type='radio'
				/>
				<label/>
			<!--/ko-->
		<!-- /ko -->
	</td>
	<td class='col col-price'>
		<!-- ko foreach: $parent.getRegion('price') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!-- /ko -->
		<!-- TIG PostNL modification start -->
			<!-- ko if:
				$parent.isEnableModulePostNL && $parent.isPostNLDeliveryMethod(method) && $parent.PostNLFee()
			-->
				+ <span data-bind='text: $parent.formatPrice($parent.PostNLFee())'></span>
			<!-- /ko -->
		<!-- TIG PostNL modification end -->
	</td>
	<!-- ko if: 'doormall' === method.carrier_code -->
		<td class='col col-method' colspan='2' data-bind="
			attr: {id: ['label_method', method.method_code, method.carrier_code].join('_')}
			,css: $parent.dfLabelClass(method)
		">
			<!-- ko if: $parent.dfImg(method) -->
				<span><img data-bind="attr: $parent.dfImg(method)"/></span>
			<!-- /ko -->
			<!-- ko template: 'Doormall_Shipping/mp/methods/item/subtitle' --><!-- /ko -->
		</td>
	<!-- /ko -->
	<!-- ko ifnot: 'doormall' === method.carrier_code -->
		<td class='col col-method' data-bind="
			attr: {id: ['label_method', method.method_code, method.carrier_code].join('_')}
			,css: $parent.dfLabelClass(method)
		"><!-- ko text: method.method_title --><!-- /ko --></td>
		<td class='col col-carrier' data-bind="
			attr: {id: ['label_carrier', method.method_code, method.carrier_code].join('_')}
			,text: method.carrier_title
		"/>
	<!-- /ko -->
</tr>
<!-- ko if:  method.error_message -->
	<tr class='row row-error'>
		<td class="col col-error" colspan='4'>
			<div class='message error'>
				<div data-bind='text: method.error_message'></div>
			</div>
			<span class='no-display'>
				<input
					data-bind="attr: {id: ['s_method', method.method_code].join('_'), value: method.method_code}"
					type='radio'
				/>
			</span>
		</td>
	</tr>
<!-- /ko -->
<!-- TIG PostNL modification start -->
	<!-- ko if: $parent.isEnableModulePostNL && $parent.canUsePostnlDeliveryOptions(method) -->
		<tr>
			<td colspan='10' class='postnl-deliveryoptions'>
				<!-- ko foreach: $parent.getRegion('postnl-deliveryoptions') -->
					<!-- ko template: getTemplate() --><!-- /ko -->
				<!-- /ko -->
			</td>
		</tr>
	<!-- /ko -->
<!-- TIG PostNL modification end -->