<tr class='row' data-bind="css: method.carrier_code, click: $parent.selectShippingMethod">
	<td class='col col-method'>
		<!-- ko ifnot: method.error_message -->
			<input class='radio' type='radio' data-bind="
				attr: {
					'aria-labelledby': [
						['label_method', method.method_code, method.carrier_code].join('_')
						,['label_carrier', method.method_code, method.carrier_code].join('_')
					].join(' ')
					,id: ['s_method', method.carrier_code, method.method_code].join('_')
				}
				,checked: $parent.isSelected
				,value: [method.carrier_code, method.method_code].join('_')
			"/>
			<!-- 2018-08-18
			It is needed for the radio-button's decoration.
			I have ported it from Mageplaza OneStepCheckout. -->
			<label/>
		<!-- /ko -->
	</td>
	<td class='col col-price'>
		<!-- ko foreach: $parent.getRegion('price') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!-- /ko -->
		<!-- ko if: $parent.dfImg(method) -->
			<img data-bind="attr: $parent.dfImg(method)"/>
		<!-- /ko -->
	</td>
	<!-- ko if: 'doormall' === method.carrier_code -->
		<td class='col col-method' colspan='2' data-bind="
			attr: {id: ['label_method', method.method_code, method.carrier_code].join('_')}
		">
			<!-- ko foreach: $parent.getRegion('doormall') -->
				<!-- ko if: method.method_code === $data.m.method_code -->
					<!-- ko template: getTemplate() --><!-- /ko -->
				<!-- /ko -->
			<!-- /ko -->
		</td>
	<!-- /ko -->
	<!-- ko ifnot: 'doormall' === method.carrier_code -->
		<td class='col col-method' data-bind="
			attr: {id: ['label_method', method.method_code, method.carrier_code].join('_')}
		"><!-- ko text: method.method_title --><!-- /ko --></td>
		<td class='col col-carrier' data-bind="
			attr: {id: ['label_carrier', method.method_code, method.carrier_code].join('_')}
			,text: method.carrier_title
		"/>
	<!-- /ko -->
</tr>
<!-- ko if:  method.error_message -->
	<tr class='row row-error'>
		<td class="col col-error" colspan='4'>
			<div class='message error'>
				<div data-bind='text: method.error_message'></div>
			</div>
			<span class='no-display'>
				<input
					data-bind="attr: {id: ['s_method', method.method_code].join('_'), value: method.method_code}"
					type='radio'
				/>
			</span>
		</td>
	</tr>
<!-- /ko -->