<div 
	class='checkout-shipping-method'
	data-bind='fadeVisible: visible()'
	id='opc-shipping_method'
	role='presentation'
>
	<div class='checkout-shipping-method'>
		<div class='step-title' data-role='title'>
			<i class='fa fa-truck'></i>
			<!-- ko if: window.checkoutConfig.oscConfig.isUsedMaterialDesign -->
				<span class='fa-stack fa-2x'>
					<i class='fa fa-circle fa-stack-2x'></i>
					<strong class='fa-stack-1x fa-stack-text fa-inverse'>2</strong>
				</span>
			<!-- /ko -->
			<span data-bind="i18n: 'Shipping Methods'"></span>
		</div>
		<!-- ko foreach: getRegion('before-shipping-method-form') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!-- /ko -->
		<div
			aria-hidden='false'
			class='step-content col-mp mp-12'
			data-bind='blockLoader: isLoading'
			data-role='content'
			id='checkout-step-shipping_method'
			role='tabpanel'
		>
			<!-- ko if: rates().length  -->
				<form
					class='form methods-shipping'
					data-bind='submit: setShippingInformation'
					id='co-shipping-method-form'
					novalidate='novalidate'
				>
					<div id='checkout-shipping-method-load'>
						<table class='table-checkout-shipping-method'>
							<thead>
								<tr class='row'>
									<th class='col col-method' data-bind="i18n: 'Select Method'"></th>
									<th class='col col-price' data-bind="i18n: 'Price'"></th>
									<th class='col col-method' data-bind="i18n: 'Method Title'"></th>
									<th class='col col-carrier' data-bind="i18n: 'Carrier Title'"></th>
								</tr>
							</thead>
							<tbody>
								<!--ko foreach: { data: rates(), as: 'method'}-->
									<!-- ko template: 'Doormall_Shipping/mp/methods/item' --><!-- /ko -->
								<!-- /ko -->
							</tbody>
						</table>
					</div>
					<div id="onepage-checkout-shipping-method-additional-load">
						<!-- ko foreach: getRegion('shippingAdditional') -->
						<!-- ko template: getTemplate() --><!-- /ko -->
						<!-- /ko -->
					</div>
					<!-- ko if: errorValidationMessage().length > 0 -->
					<div class="message notice">
						<span><!-- ko i18n: errorValidationMessage()--><!-- /ko --></span>
					</div>
					<!-- /ko -->
				</form>
			<!-- /ko -->
			<!-- ko ifnot: rates().length > 0 --><div class="no-quotes-block"><!-- ko i18n: 'Sorry, no quotes are available for this order at this time'--><!-- /ko --></div><!-- /ko -->
		</div>
	</div>
</div>