// 2018-04-19
.onestepcheckout-index-index .shipping-method-card.doormall .shipping-method-title {
	// 2018-05-08
	// «When browser window width is small (trigger mobile view),
	// the components are not placed properly on screen»:
	// https://github.com/doormall-hk/shipping/issues/2
	flex-direction: row !important;
	> label {
		margin-top: 0;
		&.doormall-logo {width: 12em;}
		&.doormall-no-logo {width: 4em;}
		&::before {margin-top: 1em !important;}
		> span {
			width: 100px;
			> img {margin: 0 auto;}
		}
	}
	> fieldset {
		border: 0; margin: 0 2em 0 0; padding: 0; width: 100%;
		.field {
			margin-left: 0; margin-right: 0;
			// 2018-05-08
			// «When browser window width is small (trigger mobile view),
			// the components are not placed properly on screen»:
			// https://github.com/doormall-hk/shipping/issues/2
			flex-basis: auto !important;
		}
	}
}

