<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
        <carriers>
			<doormall>
<!-- 2018-04-17
@used-by \Magento\Shipping\Model\Config::getActiveCarriers():
public function getActiveCarriers($store = null) {
	$carriers = [];
	$config = $this->_scopeConfig->getValue('carriers', \Magento\Store\Model\ScopeInterface::SCOPE_STORE, $store);
	foreach (array_keys($config) as $carrierCode) {
		if ($this->_scopeConfig->isSetFlag(
			'carriers/' . $carrierCode . '/active',
			\Magento\Store\Model\ScopeInterface::SCOPE_STORE,
			$store
		)) {
			$carrierModel = $this->_carrierFactory->create($carrierCode, $store);
			if ($carrierModel) {
				$carriers[$carrierCode] = $carrierModel;
			}
		}
	}
	return $carriers;
}
https://github.com/magento/magento2/blob/2.2.3/app/code/Magento/Shipping/Model/Config.php#L58-L77
-->
				<active>1</active>
				<model>Doormall\Shipping\Method</model>
<!-- 2018-04-17
@used-by \Magento\Shipping\Model\Shipping::collectCarrierRates():
if ($carrier->getConfigData('showmethod') == 0 && $result->getError()) {
	return $this;
}
https://github.com/magento/magento2/blob/2.2.3/app/code/Magento/Shipping/Model/Shipping.php#L311-L313
-->
				<showmethod>1</showmethod>
			</doormall>
        </carriers>
    </default>
</config>