<div data-bind="attr: {'class': ['shipping-method-card field choice', method.carrier_code].join(' ')}">
	<div class='shipping-method-title'>
		<!-- ko if: method.error_message -->
			<div class='clearfix'></div>
		<!-- /ko -->
		<!-- ko ifnot: method.error_message -->
			<input class='radio' type='radio' data-bind="
				attr: {
					'aria-labelledby': [
						['label_method', method.method_code, method.carrier_code].join('_')
						,['label_carrier', method.method_code, method.carrier_code].join('_')
					].join(' ')
					,'disabled': $parent.isLoading
					,'id': ['s_method', method.carrier_code, method.method_code].join('_')
				}
				,checked: $parent.isSelected
				,click: $parent.selectShippingMethod
				,value: [method.carrier_code, method.method_code].join('_')
			"/>
		<!-- /ko -->
		<label class='label' data-bind="attr: {
			'for': ['s_method', method.carrier_code, method.method_code].join('_'),
			'id': ['label_method', method.method_code, method.carrier_code].join('_')
		}">
			<!-- ko if: 'doormall' === method.carrier_code -->
				<img data-bind="attr: $parent.dfImg(method)"/>
			<!-- /ko -->
			<!-- ko ifnot: 'doormall' === method.carrier_code -->
				<!-- ko text: method.carrier_title --><!-- /ko -->
			<!-- /ko -->
		</label>
		<!-- ko template: 'Doormall_Shipping/methods/item/subtitle' --><!-- /ko -->
	</div>
	<div class='shipping-method-price'>
		<!-- ko foreach: $parent.getRegion('price') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!-- /ko -->
	</div>
</div>