<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd"
>
	<router id='standard'>
		<route id='Doormall_Shipping' frontName='doormall-shipping'>
			<module name='Doormall_Shipping'/>
		</route>
	</router>
</config>
