.accordion .config .df-fieldset .doormall-shipping-partner .df-field {
	&.df-name-data_url, &.df-name-icon_url {
		label {display: inline-block; margin-top: 1em;}
		textarea {width: 30em;}
	}
	.df-name-id, .df-name-titleEN, .df-name-titleZH {width: 20em;}
}